* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

/*Box Class is Used to layout elements in grid - would be removed once content is added*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

/* Box Sizes - this is purely to mimic the look of the assignment requirements - Size would normally be dictated by content */
.logo {
    height: 50px;
}

.navigation {
    height: 50px;
}

.hero-image {
    height: 300px;
}

.product {
    height: 125px;
}

.service {
    height: 200px;
}

.image {
    display: none;
    height: 200px;

    @media (min-width: 1200px) {
        display: flex;
    }
}

.footer {
    height: 150px;
}
